# Site URL
NEXT_PUBLIC_SITE_URL=https://pyramixed.org/

# Google Analytics
NEXT_PUBLIC_GA_ID=G-MB6X85VYKB

# Gitalk
NEXT_PUBLIC_GITALK_CLIENT_ID=Ov23liWjZHy4610jHcos
NEXT_PUBLIC_GITALK_CLIENT_SECRET=d232a09391ab3b904a1275e13e62b7a157baea29
NEXT_PUBLIC_GITALK_REPO=pyramixed-game-comment
NEXT_PUBLIC_GITALK_OWNER=JasonLee901
NEXT_PUBLIC_GITALK_ADMIN=JasonLee901
